.menu_container {
  display: block;
  width: fit-content;
  border: 1px solid grey;
  border-radius: 12px;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.menu_route {
   text-decoration: none;
}

@media all and (min-width: 768px) {
  .menu_container {
    display: none;
  }
}
