.flex_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  top: 100px;
  overflow-x: hidden;
  z-index: -1;
  width: 100%;
}

@media all and (min-width: 280px) {
  .flex_container {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 25px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
  }
}

@media all and (min-width: 768px) {
  .flex_container {
    height: 100vh;
    top: 0;
    padding-bottom: 0;
  }
}

@media all and (min-width: 1024px) {
  .flex_container {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media all and (min-width: 1600px) {
  .flex_container {
    width: 1500px;
    max-width: 1500px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
