@media all and (min-width: 280px) {
  .content {
    width: 100%;
  }
}

@media all and (min-width: 768px) {
  .content {
    width: 60%;
  }
}

@media all and (min-width: 1024px) {
  .content {
    width: 50%;
  }
  .content_diff {
    display: none;
  }
}

@media all and (min-width: 1280px) {
  .content_diff,
  .content {
    width: 33%;
  }

  .content_diff {
    display: block;
  }
}
